django
simpleui
django-cors-headers
django-debug-toolbar
djangorestframework
django-rest-swagger
django-rest-auth
django-allauth
mysqlclient 
pymysql
Pillow
django-storages
boto3
django-ckeditor
djangorestframework_simplejwt
djoser
django-s3direct
aliyun-python-sdk-sts
oss2
django-parsley