{% load static i18n %}
{% load cust_filters %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>CKEditor | {% trans "Select an image to embed" %}</title>
        <link rel="stylesheet" href="{% static "church/css/dialog.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "admin/simpleui-x/elementui/theme-chalk/index.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "church/css/ossstyle.css" %}" type="text/css" />
        <!-- We only want the thunbnails to display when javascript is disabled -->
        <script type="text/javascript">
            document.write('<style>.noscript { display: none; }</style>');
        </script>
        <style type="text/css">
            a.thumb { text-align: center; display: block; float: left; width: 75px; height: 75px; word-wrap: break-word; line-height: 1.2em; overflow: hidden; }
            a.thumb img { display: inline-block; }
            span.filename { color: #666; font-size: 0.95em; }
            #gallery { min-width: 880px; }
            #search {
                display:flex;
                
            }
            .image_check{
                width: 100%;
                {% comment %} height: 100px !important; {% endcomment %}
            }

            .mediacard{
                width:128px;
                min-width:128px;
            }


            .thumbimg {
                width: 100%;
                height: 100px;
                display: block;
            }
            .el-checkbox.is-bordered{
                height:auto;
                padding:0;
            }
            .el-checkbox__inner{
                position:absolute;
                left: -5px;
                bottom: 0px;
            }
            .el-checkbox__label{
                padding:0;
            }
            .imagetitle{
                width:128px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top:10px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .toolbar {
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                margin: 15 0 0;
            }
            .el-icon-upload{
                line-height:unset;
            }
            .el-upload--picture-card{
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                width: fit-content;
            }
            .extra-bar{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                cursor: default;
                text-align: center;
                color: #fff;
                opacity: 0;
                font-size: 20px;
                background-color: rgba(0,0,0,.5);
                transition: opacity .3s;
            }
            .hover .extra-bar{
                opacity: 1;
            }
            .el-checkbox__inner{
                left:0 !important;
            }
            .cktitle span{
                line-height : 1em;
            }

            .image-preview{
                width:600px !important;
                max-height:560px;
                overflow-y: scroll;
            }
            
        </style>
    </head>
    <body>
        <el-container id="page">
            <el-header>
                <div class="toolbar">
                    <div id="search">
                        {% if show_dirs %}
                            <el-select 
                                v-model="curdir" 
                                filterable placeholder="请选择专栏系列"
                                @change="onSeriesChange($event)"
                            >
                                {% for key,value in series.items %}
                                    <el-option
                                        key="{{ key }}"
                                        label="{{ value }}-{{key}}"
                                        value="{{ key }}">
                                    </el-option>
                                {% endfor %}
                            </el-select>
                        {% endif %}
                    </div>
                   
                    <el-button-group>
                        <el-button type="primary" icon="el-icon-arrow-left" @click="prev(curdir)">第一页</el-button>
                        <el-button type="primary" @click="next(curdir)">下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
                    </el-button-group>
                    <el-button type="primary" @click="goTab('upload')">上传upload<i class="el-icon-upload"></i></el-button>
                </div>
            </el-header>
            <el-main id="gallery">
                <el-tabs v-model="activeTab" :tab-position="'left'" v-loading="loading" type="border-card" @tab-click="handleClick">
                    <el-tab-pane label="图片" name="images">
                        <el-checkbox-group v-model="checkedImages" >
                            <div v-for="ii in Math.ceil(images.length/6)" :key="ii"
                                :style="{ display: 'flex'}"
                            >
                                <div  v-for="jj in 6" :key="jj"
                                >
                                    <el-card :body-style="{ padding: '0px' ,border: '0', position: 'relative', minWidth: '128px' }"
                                        v-if=" (theImage(ii,jj).src||'') != '' "
                                        class='mediacard'
                                    >
                                        <el-checkbox 
                                            border
                                            :style="{ width: '100%'}"
                                            :label=`${theImage(ii,jj).src}` 
                                        >
                                            <!--上面这个label是el-checkbox-group的v-model的值。它也是唯一的。可以用来反查images里的object-->

                                            <img 
                                                :src=`${theImage(ii,jj).thumb}` 
                                                :data-src=`${theImage(ii,jj).src}` class="thumbimg"
                                                :style="{ width: '100%'}"
                                            />
                                            <hovercard>
                                                <div class='extra-bar'>
                                                    <span
                                                        @click.stop.prevent="handlePictureCardPreview({'oname':theImage(ii,jj).visible_filename,'url':theImage(ii,jj).src})"
                                                    >
                                                        <i class="el-icon-zoom-in"></i>
                                                    </span>
                                                    <span
                                                        @click="removeKey(theImage(ii,jj).src)"
                                                    >
                                                        <i class="el-icon-delete"></i>
                                                    </span>
                                                </div>
                                            </hovercard>
                                        </el-checkbox>
                                        <span
                                            :style="{ 'fontSize':'1rem' }"
                                        >
                                        [[ theImage(ii,jj).visible_filename | shortname ]]
                                        </span>
                                    </el-card>
                                </div>
                            </div>
                        </el-checkbox-group>
                    </el-tab-pane>
                    <el-tab-pane label="影片" name="videos">
                        <el-checkbox-group v-model="checkedImages" >
                            <div v-for="ii in Math.ceil(images.length/6)" :key="ii"
                                :style="{ display: 'flex'}"
                            >
                                <div :span="4" v-for="jj in 6" :key="jj">
                                    <el-card :body-style="{ padding: '0px' , position: 'relative' , width: '100%'}"
                                        v-if=" (theImage(ii,jj).src||'') != '' "
                                        class='mediacard'
                                    >
                                        <el-checkbox 
                                            border
                                            :style="{ width: '100%'}"
                                            v-loading="theImage(ii,jj).video_status!=3"
                                            :label=`${ii}-${jj}`
                                        >
                                            <div class="thumbimg"
                                            >
                                                <img 
                                                    :src=`${theImage(ii,jj).video_status==3?(theImage(ii,jj).video_tcinfo||{}).image3+'?x-oss-process=style/wh124':theImage(ii,jj).thumb}` 
                                                    :data-src=`${theImage(ii,jj).video_status==3?(theImage(ii,jj).video_tcinfo||{}).sd:theImage(ii,jj).src}`
                                                />
                                            </div>
                                            
                                            <hovercard>
                                                <!-- 1、上传成功 状态为1。后显示一个cover就好。 -->
                                                <!-- 2、转码开始 状态为2。并且有转码中。。。的提示 -->
                                                <!-- 2、转码开始 状态为3。显示一个比较好图 -->
                                                <div class='extra-bar'>
                                                    <span
                                                        @click.stop.prevent="handlePictureCardPreview({'oname':theImage(ii,jj).visible_filename,'url':(theImage(ii,jj).video_tcinfo||{}).sd})"
                                                    >
                                                        <i class="el-icon-zoom-in"></i>
                                                    </span>
                                                    <span
                                                        @click="removeKey(theImage(ii,jj).src)"
                                                    >
                                                        <i class="el-icon-delete"></i>
                                                    </span>
                                                </div>
                                            </hovercard>
                                        </el-checkbox>
                                        <span
                                            :style="{ 'fontSize':'1rem' }"
                                        >
                                            [[ theImage(ii,jj).visible_filename | shortname]]
                                        </span>
                                    </el-card>
                                </div>
                            </div>
                        </el-checkbox-group>
                    </el-tab-pane>
                    <el-tab-pane label="音乐" name="audios">
                        <el-row v-for="ii in Math.ceil(images.length/6)" :key="ii">
                            <el-col :span="4" v-for="jj in 6" :key="jj">
                                <el-checkbox 
                                    v-if=" (theImage(ii,jj).src||'') != '' "
                                    label="备选项1" 
                                    border class="image_check"
                                    @change='checkij(val,$event)'
                                >
                                    <img 
                                        :src=`${theImage(ii,jj).thumb}` 
                                        :data-src=`${theImage(ii,jj).src}` class="videos"/>
                                        <div class="imagetitle">
                                            [[ theImage(ii,jj).visible_filename | shortname]]
                                        </div>
                                </el-checkbox>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="上传" name="upload">
                        <el-upload
                            class="upload"
                            ref="upload"
                            :with-credentials="true"
                            action=""
                            list-type="picture-card"
                            :auto-upload='false'
                            :before-upload="onbeforeUpload"
                            :on-progress="onprogress"
                            :on-change="onchange"
                            :on-error="onerror"
                            :on-success="onsuccess"
                            :on-remove="onremove"
                            :on-preview="handlePictureCardPreview"
                            :on-exceed="onexceed"
                            :show-file-list="true"
                            :http-request="diyUpload"
                            :limit="10"
                            multiple
                            drag
                            >
                            <i class="el-icon-upload"></i>
                        </el-upload> 
                        <el-button style="margin-left: 10px;float:right;" size="small" type="success" @click="submitUpload"
                            :disabled="!filePrepared"
                        >
                            把这些文件上传到服务器
                        </el-button>

                        <el-dialog :visible.sync="dialogVisible" size="tiny">
                            <img width="100%" :src="dialogImageUrl" alt="">
                        </el-dialog>
                        
                        <el-alert 
                            :title="errorMsg"
                            type="error"
                            :closable="false"
                            :style="{ display: errorDisplay }"
                        >
                        </el-alert>
                    </el-tab-pane>
                </el-tabs>
                <el-dialog :visible.sync="dialogVisible" size="tiny" id="preview_dlg" @close="(this.document.querySelector('#preview_dlg video')|| this.document.createElement('video')).pause()">
                    <video v-if="dialogImageUrl.match('(.mp4$)')" :src="dialogImageUrl" controls width="100%">
                    <img v-if="dialogImageUrl.match('(.jpg$)|(.png$)|(.gif$)|(.ico$)')" width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
                
            </el-main>
            <el-footer>
                <el-button type="primary" @click=mediaReturn('ok')>确定<i class="el-icon-upload"></i></el-button>
            </el-footer>
        </el-container>

        <script type="text/javascript" src="{% static "church/js/vue.js" %}"></script>
        <script type="text/javascript" src="{% static "admin/simpleui-x/elementui/index.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/es6-promise.auto.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/vuex.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/store.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/axios.min.js" %}"></script>

        <script>
            Vue.config.delimiters = ["[[", "]]"];
            Vue.component('hovercard', {
                //props: ['value'],
               
                data: function () {
                    return {
                        hover: false,
                    }
                },
                template: `
                    <div
                        @mouseover="hover = true"
                        @mouseleave="hover = false"
                        :class="{hover:hover}"
                        :style="{width: '100%', minWidth: '124px'}"
                    >
                        <slot/>
                    </div>
                `
            })
            var app = new Vue({
                el: '#page',
                data () {
                    return {
                        church:'{{ churchcode }}',
                        curdir: '{{ dirs.0 }}',
                        activeTab: 'images',
                        dialogImageUrl: '',
                        dialogVisible: false,
                        errorDisplay:'none',
                        errorMsg:'',
                        filePrepared:false,
                        progressPercent:0,
                        fileArr:[],
                        page:{
                            'images':1,
                            'videos':1,
                            'audios':1
                        },
                        loading:false,
                        ALIOSS_DESTINATIONS:JSON.parse(`{{ ALIOSS_DESTINATIONS|safe }}`),
                        checkedImages:[],
                        checkedImages1:[]

                    }
                },
                computed: {
                    count() {
                        return store.state.count
                    },
                    images(){
                        return store.state.images||[]
                    },
                },
                store,
                mounted: function (){
                    //this.showImages(this.curdir)
                },
                filters: {
                    shortname: function (value) {
                        if (!value) return ''
                        value = value.toString()
                        fn_arr = value.split('.')   //["", "mp4"]
                        
                        return (fn_arr[0].length > 7) ? `${fn_arr[0].substring(0,7)}...${fn_arr[1]}` : value
                    }
                },
                methods:{
                    checkij(value,ev){
                        console.log(`${value}-${ev}`)
                    },
                    mediaReturn(o){
                        console.log('-----mediaReturn-----------')
                        console.log(o)
                        console.log(window.opener.window.formVue)
                        console.log(this.checkedImages)
                        console.log(this.images)
                        arr = this.checkedImages[0].split('-')
                        index = (arr[0]-1)*6+arr[1]-1

                        /*is_image: false
                        src: "https://bicf-media-source.oss-cn-beijing.aliyuncs.com/L3%2Fdefault%2Fc03d8af6-b353-5373-f100-afde430b8aa8?OSSAccessKeyId=LTAI4Fd1JMHM3WSUN4vrHcj8&Expires=1589181148&Signature=oniIfk0%2BGuoslpz6E3neQfNbNtg%3D"
                        key:
                        thumb: "/static/ckeditor/file-icons/file.png"
                        video_status: 3
                        video_tcinfo: Object
                        audio: "https://api.bicf.org/mediabase/L3/default/c03d8af6-b353-5373-f100-afde430b8aa8/ld.mp4"
                        hd: "https://api.bicf.org/mediabase/L3/default/c03d8af6-b353-5373-f100-afde430b8aa8/hd.mp4"
                        image1: "https://api.bicf.org/mediabase/L3/default/c03d8af6-b353-5373-f100-afde430b8aa8/00001.jpg"
                        image2: (...)
                        image3: (...)
                        ld: "https://api.bicf.org/mediabase/L3/default/c03d8af6-b353-5373-f100-afde430b8aa8/ld.mp4"
                        sd: "https://api.bicf.org/mediabase/L3/default/c03d8af6-b353-5373-f100-afde430b8aa8/sd.mp4"
                        */

                        //ro = {'type':'images','src':'https://',key:'ims/...'} key是存储在media的字段中的，这样+上平台存储桶的配置，可以算出src

                        typ = this.getQueryVariable('type')
                        src = this.images[index].src
                        key = this.images[index].key
                        from = this.getQueryVariable('from')
                        o = this.images[index]


                        window.opener.window.formVue.setRo({ "type":`${typ}`,"src":`${src}`, "key":`${key}`, "from":`${from}`, "obj":o } )
                        
                        //window.close()
                    },
                    getQueryVariable(variable){
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i=0;i<vars.length;i++) {
                                var pair = vars[i].split("=");
                                if(pair[0] == variable){return pair[1];}
                        }
                        return(false);
                    },
                    showImages_del:function(path){
                        //我现在要，做的是，通过目录查找oss相关目录的图片
                        //存放在一个store里面
                        //自动绑定到相关的页面里面
                        console.log('-------showImages----------')
                        store.dispatch('getImages',{'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','type':this.activeTab,'series':path,'page':1})
                    },
                    
                    theImage(i,j){
                        //console.log(store.state.images)
                        //console.log(`-------------${i}-${j}-----------------`)
                        return (store.state.images||[])[(i-1)*6 + j-1]||{}
                    },
                    next:function(){
                        //当没有18个图片的时候，说明就结束了
                        console.log('------next------')
                       
                        this.page[this.activeTab] = (++this.page[this.activeTab] >=1 ? this.page[this.activeTab] : 1)
                        this.showFiles(this.activeTab,this.curdir,this.page[this.activeTab])
                    },
                    prev:function(){
              
                        this.page[this.activeTab] = (--this.page[this.activeTab] >=1 ? this.page[this.activeTab] : 1)
                        this.showFiles(this.activeTab,this.curdir,this.page[this.activeTab])

                    },
                    goTab(page){
                        this.activeTab = page
                    },
                    onSeriesChange:function(sereis){
                        if (sereis == 'upload') {return}
                        this.showFiles(this.activeTab,sereis,this.page[this.activeTab])
                    },
                    showFiles:function(type,series,page){
                        vm = this
                        store.dispatch('getImages',{'type':type,'series':series,'page':page}).then(function(){
                            vm.$forceUpdate()
                            vm.loading = false
                        })
                    },
                    handleClick(tab, event) {
                        console.log(tab, event)
                        console.log(`-----------this.activeTab -------${this.activeTab}----`)
                   
                        this.loading = true
                        this.activeTab = tab.name
                        this.showFiles(tab.name,this.curdir,this.page.image)
                        this.checkedImages = []
                    },
                    onbeforeUpload(file){
                        console.log('--------onbeforeUpload----------')
                        console.log(file)
                    },
                    onprogress(e, rawFile,fileList){
              
                        this.fileArr = fileList
                        this.fileArr.forEach(item=>{
                            if (item.percentage == 100) {

                            } else {
                                item.progressFlag = true
                                item.progressPercent = Math.abs(item.percentage.toFixed(0));
                            }
                        })
                    },
                    getTyp(filetype){
                        if(filetype.match('image/')){
                            return 'images'
                            
                        }
                        if(filetype.match('video/')){
                            return 'videos'
                        }
                        if(filetype.match('audio/')){
                            return 'audios'
                        }
                        if(filetype.match('pdf/')){
                            return 'pdfs'
                        }
                        return 'destination'
                    },
                    onchange(e,fileList){
                        console.log('-------onchange---------')
                        console.log(e)
                        console.log(fileList)

                        this.errorDisplay = 'none'
                        this.errorMsg=''

                        if(!e.raw.type.match('image/')){
                            if(e.raw.type.match('video/')){
                                e.url="/static/church/img/vidoe.jpg"
                            } else if(e.raw.type.match('audio/')){
                                e.url="/static/church/img/audio.jpg"
                            } else{
                                e.url="/static/church/img/document.jpg"   
                            }
                        }
                        this.filePrepared = false
                        
                        fileList.forEach((item,index)=>{
                            if(item.status == 'ready'){
                                this.filePrepared = true
                            }
                        })
                        if (fileList.length <= 0){
                            this.filePrepared = false
                        }
                        //"success" "ready" "uploading" "fail"
                    },
                    onerror(e,f){
                        console.log('-------onerror---------')
                        console.log(e)
                        console.log(f)
                    },
                    onsuccess(e,f,fileList){
                        console.log('-------onsuccess---------')
                        console.log(e)
                        console.log(f)
                        this.fileArr = fileList
                        this.fileArr.forEach((item,index)=>{
                            item.progressFlag = false
                            if(item.status == 'success'){
                                item.successFlag = true
                            }else{
                                item.successFlag = false
                            }
                        })
                    },
                    onremove(e,f){
                        console.log('-------onremove---------')
                        console.log(e)
                        console.log(f)
                        
                        if (f.length <= 0){
                            this.filePrepared = false
                        }
                        //this.fileArr.splice(f,1)
                    },
                    removeFile(item,index){
                        this.fileArr.splice(f,index)
                    },
                    onpreview(e,f){
                        console.log('-------onpreview---------')
                        console.log(e)
                        console.log(f)
                    },
                    onexceed(e,f){
                        console.log('-------onexceed---------')
                        console.log(e)
                        console.log(f)
                        if((e||[]).length >10){
                            this.errorDisplay = 'block'
                            this.errorMsg = `最多只能一次加入10个文件，现在有${e.length}请重新选择。`
                        }else{
                            this.errorDisplay = 'none'
                            this.errorMsg=''
                        }
                    },
                    submitUpload() {
                        //console.log(file)
                        
                        //return true
                        console.log('--------submitUpload---------------')
                        this.$refs.upload.submit();
                    },
                    //handleRemove(file, fileList) {
                    //    console.log(file, fileList);
                    //},
                    removeKey(key){
                        console.log(`-----need to delete the bucket file and db record---of--${key}--`)
                    },
                    handlePictureCardPreview(file) {
                        console.log('------------handlePictureCardPreview---------------')
                        console.log(file)
                        
                        //this.dialogImageUrl = file.url;
                        //this.dialogVisible = true;
                        
                        if (((file||{}).oname||'').match('(.jpg$)|(.png$)|(.gif$)|(.ico$)')){
                            this.$alert(`<img style="width:100%;height:auto;" src="${file.url}">`, {
                                dangerouslyUseHTMLString: true,
                                customClass:"image-preview"
                            });
                            return
                        }
                        if (((file||{}).oname||'').match('(.mp4$)')){
                            this.$alert(`<video id="media-preview" style="width:100%;height:auto;" controls src="${file.url}">`, {
                                dangerouslyUseHTMLString: true,
                                customClass:"image-preview",
                                beforeClose:(action,instance,done)=>{
                                    //console.log(instance)
                                    (instance.$el.querySelector('video#media-preview')||this.document.createElement('video')).pause()
                                    done()
                                }
                            });
                            return
                        }
                        return false
                    },
                    parsePercentage(val) {
                        return parseInt(val, 10);
                    },
                    S4() {
                        return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
                    },
                    guid() {
                        return (this.S4()+this.S4()+"-"+this.S4()+"-"+this.S4()+"-"+this.S4()+"-"+this.S4()+this.S4()+this.S4());
                    },
                    diyUpload(params) {
                        const thefile = params.file,
                            fileType = thefile.type,
                            isImage = fileType.indexOf("image") != -1,
                            isLt2M = thefile.size / 1024 / 1024 < 2;
                        console.log('-----------diyUpload------------')
                        console.log(fileType)
                        thedest = this.getTyp(fileType)
                        //console.log(dest)
                        //https://bicf-media-destination.oss-accelerate.aliyuncs.com
                        thehost = `https://${this.ALIOSS_DESTINATIONS[thedest=='videos'?`${thedest}.source`:thedest]['bucket']}.${this.ALIOSS_DESTINATIONS[thedest=='videos'?`${thedest}.source`:thedest]['endpoint.acc']}`

                        console.log(`dest:${thedest};host:${thehost}`)
                        
                        tokenParams ={'type':thedest,'object_prefix':`${this.church}${(this.curdir||''=='')?'':'/'+this.curdir+'/'}`}
                        thisV = this
                        store.dispatch('getOssToken',tokenParams).then((res)=>{
                            console.log('---------getOssToken----------')
                            console.log(res)

                            let fd = new FormData()
                            fd.append('OSSAccessKeyId', res.data.token['accessid'])
                            fd.append('policy', res.data.token['policy'])
                            fd.append('Signature', res.data.token['signature'])
                            fd.append('callback', res.data.token['callback'])
                            fd.append('key', `${thisV.church}/${thisV.curdir}/${thisV.guid()}`)//这个是oss中的key,随机 不用这个前缀方式了L3${(this.curdir||'').length>1?'/'+this.curdir:''}/
                            fd.append('x:originname', thefile.name)//文件原有名称 x是自定义oss回调变量
                            fd.append('x:dest', `${thedest}`)//所属的文件目标桶类型
                            fd.append('x:seriesrespath', `${ thisV.curdir }`)
                            fd.append('x:church', `${ thisV.church }`)
                            fd.append('file', thefile)
                            option = {
                                'host':thehost,
                                'form':fd,
                                'uploader':params
                            }
                            thisV.$store.dispatch('upload2oss',option)
                        })
                    } 
                },
                delimiters: ["[[","]]"]
            });
        </script>
 
    </body>
</html>
