{% load static i18n %}
{% load cust_filters %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>CKEditor | {% trans "Select an image to embed" %}</title>
        <link rel="stylesheet" href="{% static "church/css/dialog.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "admin/simpleui-x/elementui/theme-chalk/index.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "church/css/ossstyle.css" %}" type="text/css" />
        <!-- We only want the thunbnails to display when javascript is disabled -->
        <script type="text/javascript">
            document.write('<style>.noscript { display: none; }</style>');
        </script>
        <style type="text/css">
            a.thumb { text-align: center; display: block; float: left; width: 75px; height: 75px; word-wrap: break-word; line-height: 1.2em; overflow: hidden; }
            a.thumb img { display: inline-block; }
            span.filename { color: #666; font-size: 0.95em; }
            #container { min-width: 880px; }
            #search {
                display:flex;
                
            }
            .image_check{
                width: 134px;
                height: 145px !important;
            }
            .image {
                width: 125px;
                height: 100px;
                display: block;
            }
            .el-checkbox__inner{
                position:absolute;
                left: -5px;
                bottom: 0px;
            }
            .el-checkbox__label{
                padding:0;
            }
            .imagetitle{
                width:128px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top:10px;
            }
            .toolbar {
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                margin: 15 0 0;
            }
            .el-icon-upload{
                line-height:unset;
            }
            .el-upload--picture-card{
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                width: fit-content;
            }
        </style>
    </head>
    <body>
        <el-container id="page">
            <el-header>
                <div class="toolbar">
                    <div id="search">
                        {% if show_dirs %}
                            <el-select 
                                v-model="curdir" 
                                filterable placeholder="请选择专栏系列"
                                @change="showFiles"
                            >
                                {% for key,value in series.items %}
                                    <el-option
                                        key="{{ key }}"
                                        label="{{ value }}-{{key}}"
                                        value="{{ key }}">
                                    </el-option>
                                {% endfor %}
                            </el-select>
                        {% endif %}
                    </div>
                   
                    <el-button-group>
                        <el-button type="primary" icon="el-icon-arrow-left" @click=prev(curdir)>第一页</el-button>
                        <el-button type="primary" @click=next(curdir)>下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
                    </el-button-group>
                    <el-button type="primary" @click="goTab('upload')">上传upload<i class="el-icon-upload"></i></el-button>
                </div>
            </el-header>
            <el-container id="container">
                <el-main>
                    <el-tabs v-model="activeName" :tab-position="'left'" v-loading="loading" type="border-card" @tab-click="handleClick">
                        <el-tab-pane label="图片" name="images">
                            <el-row v-for="ii in Math.ceil(images.length/6)" :key="ii">
                                <el-col :span="4" v-for="jj in 6" :key="jj">
                                    <el-checkbox 
                                        v-if=" (theImage(ii,jj).src||'') != '' "
                                        label="备选项1" 
                                        border class="image_check"
                                    >
                                        <img 
                                            :src=`${theImage(ii,jj).thumb}` 
                                            :data-src=`${theImage(ii,jj).src}` class="image"/>
                                            <div class="imagetitle">
                                                [[ theImage(ii,jj).visible_filename ]]
                                            </div>
                                    </el-checkbox>
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                        <el-tab-pane label="影片" name="videos">
                            <el-row v-for="ii in Math.ceil(images.length/6)" :key="ii">
                                <el-col :span="4" v-for="jj in 6" :key="jj">
                                    <el-checkbox 
                                        v-if=" (theImage(ii,jj).src||'') != '' "
                                        label="备选项1" 
                                        border class="image_check"
                                    >
                                        <img 
                                            :src=`${theImage(ii,jj).thumb}` 
                                            :data-src=`${theImage(ii,jj).src}` class="videos"/>
                                            <div class="imagetitle">
                                                [[ theImage(ii,jj).visible_filename ]]
                                            </div>
                                    </el-checkbox>
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                        <el-tab-pane label="音乐" name="audios">
                            <el-row v-for="ii in Math.ceil(images.length/6)" :key="ii">
                                <el-col :span="4" v-for="jj in 6" :key="jj">
                                    <el-checkbox 
                                        v-if=" (theImage(ii,jj).src||'') != '' "
                                        label="备选项1" 
                                        border class="image_check"
                                    >
                                        <img 
                                            :src=`${theImage(ii,jj).thumb}` 
                                            :data-src=`${theImage(ii,jj).src}` class="videos"/>
                                            <div class="imagetitle">
                                                [[ theImage(ii,jj).visible_filename ]]
                                            </div>
                                    </el-checkbox>
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                        <el-tab-pane label="上传" name="upload">
                            <el-upload
                                class="upload"
                                ref="upload"
                                :with-credentials="true"
                                action=""
                                list-type="picture-card"
                                :auto-upload='false'
                                :before-upload="onbeforeUpload"
                                :on-progress="onprogress"
                                :on-change="onchange"
                                :on-error="onerror"
                                :on-success="onsuccess"
                                :on-remove="onremove"
                                :on-preview="handlePictureCardPreview"
                                :on-exceed="onexceed"
                                :show-file-list="true"
                                :http-request="diyUpload"
                                :limit="10"
                                multiple
                                drag
                                >
                                <i class="el-icon-upload"></i>
                            </el-upload> 
                            <el-button style="margin-left: 10px;float:right;" size="small" type="success" @click="submitUpload"
                                :disabled="!filePrepared"
                            >
                                把这些文件上传到服务器
                            </el-button>

                            <el-dialog :visible.sync="dialogVisible" size="tiny">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                            
                            <el-alert 
                                :title="errorMsg"
                                type="error"
                                :closable="false"
                                :style="{ display: errorDisplay }"
                            >
                            </el-alert>
                        </el-tab-pane>
                    </el-tabs>
                </el-main>
            </el-container>
        </el-container>

        <script type="text/javascript" src="{% static "church/js/vue.js" %}"></script>
        <script type="text/javascript" src="{% static "admin/simpleui-x/elementui/index.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/es6-promise.auto.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/vuex.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/store.js" %}"></script>
        <script type="text/javascript" src="{% static "church/js/axios.min.js" %}"></script>

        <script>
            Vue.config.delimiters = ["[[", "]]"];
            var app = new Vue({
                el: '#page',
                data () {
                    return {
                        church:'{{ churchcode }}',
                        curdir: '{{ dirs.0 }}',
                        activeName: 'images',
                        dialogImageUrl: '',
                        dialogVisible: false,
                        errorDisplay:'none',
                        errorMsg:'',
                        filePrepared:false,
                        progressPercent:0,
                        fileArr:[],
                        page:{
                            'images':1,
                            'videos':1,
                            'audios':1
                        },
                        loading:false,
                        ALIOSS_DESTINATIONS:JSON.parse({{ ALIOSS_DESTINATIONS|safe }}),
                    }
                },
                computed: {
                    count() {
                        return store.state.count
                    },
                    images(){
                        return store.state.images||[]
                    },
                },
                store,
                mounted: function (){
                    //this.showImages(this.curdir)
                },
                methods:{
                    showImages_del:function(path){
                        //我现在要，做的是，通过目录查找oss相关目录的图片
                        //存放在一个store里面
                        //自动绑定到相关的页面里面
                        console.log('-------showImages----------')
                        store.dispatch('getImages',{'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','type':this.activeName,'series':path,'page':1})
                    },
                    
                    theImage(i,j){
                        //console.log(store.state.images)
                        //console.log(`-------------${i}-${j}-----------------`)
                        return (store.state.images||[])[(i-1)*6 + j-1]||{}
                    },
                    next:function(){
                        //当没有18个图片的时候，说明就结束了
                        console.log('------next------')
                        /*console.log(path)
                        //dl = document.getElementsByClassName('image')
                        if (this.images.length == 18){
                            key = decodeURI(this.images[this.images.length-1].src).match('{{ rediret_url_prefix }}/(.*)')[1]
                            //取域名后面的 纯key https://bicf-media-destination.oss-cn-beijing.aliyuncs.com/L3/DISC_1_Title8.jpg"
                            console.log(key)
                            if( key ){
                                 store.dispatch('getImages', {'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','path':path,'marker':key} )
                            }
                        }*/
                        this.page[this.activeName] = (++this.page[this.activeName] >=1 ? this.page[this.activeName] : 1)
                        this.showFiles(tab.name,this.curdir,this.page[this.activeName])
                    },
                    prev:function(){
                        //dl = document.getElementsByClassName('image')
                        //if (this.images.length > 0){
                        //    key = decodeURI(this.images[0].src).match('//.*?/(.*)')[1]
                        //    if( key ){
                        //store.dispatch('getImages', {'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','path':path,'marker':''} )
                        //    }
                        //}
                        this.page[this.activeName] = (--this.page[this.activeName] >=1 ? this.page[this.activeName] : 1)
                        this.showFiles(tab.name,this.curdir,this.page[this.activeName])

                    },
                    goTab(page){
                        this.activeName = page
                    },
                    
                    showFiles:function(type,series,page){
                        vm = this
                        store.dispatch('getImages',{'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','runtime':'{{ runtime }}','type':type,'series':series,'page':page}).then(function(){
                            console.log('then(function(){})')
                            vm.$forceUpdate()
                            vm.loading = false
                        })
                    },
                    handleClick(tab, event) {
                        console.log(tab, event)
                        console.log(`-----------this.activeName -------${this.activeName}----`)
                        /*if (tab.name == "videos"){
                            store.dispatch('getImages', {'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','path':path,'marker':key} )
                        }
                        if (tab.name == "audios"){
                            store.dispatch('getImages', {'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','path':path,'marker':key} )
                        }
                        if (tab.name == "images"){
                            store.dispatch('getImages', {'MEDIA_BROWSE_API_SERVER':'{{ MEDIA_BROWSE_API_SERVER }}','path':path,'marker':key} )
                        }*/
                        this.loading = true
                        this.activeName = tab.name
                        this.showFiles(tab.name,this.curdir,this.page.image)
                        
                    },
                    onbeforeUpload(file){
                        console.log('--------onbeforeUpload----------')
                        console.log(file)
                    },
                    onprogress(e, rawFile,fileList){
                        /*console.log('-------onprogress---------')
                        console.log(e)
                        console.log(rawFile)*/

                        this.fileArr = fileList
                        this.fileArr.forEach(item=>{
                            if (item.percentage == 100) {

                            } else {
                                item.progressFlag = true
                                item.progressPercent = Math.abs(item.percentage.toFixed(0));
                            }
                        })
                    },
                    getTyp(filetype){
                        if(filetype.match('image/')){
                            return 'images'
                            
                        }
                        if(filetype.match('video/')){
                            return 'videos'
                        }
                        if(filetype.match('audio/')){
                            return 'audios'
                        }
                        if(filetype.match('pdf/')){
                            return 'pdfs'
                        }
                        return 'destination'
                    },
                    onchange(e,fileList){
                        console.log('-------onchange---------')
                        console.log(e)
                        console.log(fileList)

                        this.errorDisplay = 'none'
                        this.errorMsg=''

                        if(!e.raw.type.match('image/')){
                            if(e.raw.type.match('video/')){
                                e.url="/static/church/img/vidoe.jpg"
                            } else if(e.raw.type.match('audio/')){
                                e.url="/static/church/img/audio.jpg"
                            } else{
                                e.url="/static/church/img/document.jpg"   
                            }
                        }
                        this.filePrepared = false
                        
                        fileList.forEach((item,index)=>{
                            if(item.status == 'ready'){
                                this.filePrepared = true
                            }
                        })
                        if (fileList.length <= 0){
                            this.filePrepared = false
                        }
                        //"success" "ready" "uploading" "fail"
                    },
                    onerror(e,f){
                        console.log('-------onerror---------')
                        console.log(e)
                        console.log(f)
                    },
                    onsuccess(e,f,fileList){
                        console.log('-------onsuccess---------')
                        console.log(e)
                        console.log(f)
                        this.fileArr = fileList
                        this.fileArr.forEach((item,index)=>{
                            item.progressFlag = false
                            if(item.status == 'success'){
                                item.successFlag = true
                            }else{
                                item.successFlag = false
                            }
                        })
                    },
                    onremove(e,f){
                        console.log('-------onremove---------')
                        console.log(e)
                        console.log(f)
                        
                        if (f.length <= 0){
                            this.filePrepared = false
                        }
                        //this.fileArr.splice(f,1)
                    },
                    removeFile(item,index){
                        this.fileArr.splice(f,index)
                    },
                    onpreview(e,f){
                        console.log('-------onpreview---------')
                        console.log(e)
                        console.log(f)
                    },
                    onexceed(e,f){
                        console.log('-------onexceed---------')
                        console.log(e)
                        console.log(f)
                        if((e||[]).length >10){
                            this.errorDisplay = 'block'
                            this.errorMsg = `最多只能一次加入10个文件，现在有${e.length}请重新选择。`
                        }else{
                            this.errorDisplay = 'none'
                            this.errorMsg=''
                        }
                    },
                    submitUpload() {
                        //console.log(file)
                        
                        //return true
                        console.log('--------submitUpload---------------')
                        this.$refs.upload.submit();
                    },
                    //handleRemove(file, fileList) {
                    //    console.log(file, fileList);
                    //},
                    handlePictureCardPreview(file) {
                        this.dialogImageUrl = file.url;
                        this.dialogVisible = true;
                    },
                    parsePercentage(val) {
                        return parseInt(val, 10);
                    },
                    S4() {
                        return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
                    },
                    guid() {
                        return (this.S4()+this.S4()+"-"+this.S4()+"-"+this.S4()+"-"+this.S4()+"-"+this.S4()+this.S4()+this.S4());
                    },
                    diyUpload(params) {
                        const file = params.file,
                            fileType = file.type,
                            isImage = fileType.indexOf("image") != -1,
                            isLt2M = file.size / 1024 / 1024 < 2;
                        console.log('-----------diyUpload------------')
                        console.log(fileType)
                        dest = this.getTyp(fileType)
                        console.log(dest)
                        //https://bicf-media-destination.oss-accelerate.aliyuncs.com
                        host = `https://${this.ALIOSS_DESTINATIONS[dest]['bucket']}.${this.ALIOSS_DESTINATIONS[dest]['endpoint.acc']}`
                        
                        let fd = new FormData()
                        fd.append('OSSAccessKeyId', '{{ OSSAccessKeyId }}')
                        fd.append('policy', '{{ policy }}')
                        fd.append('Signature', '{{ Signature }}')
                        fd.append('callback', '{{ callback }}')
                        fd.append('key', `${this.guid()}`)//这个是oss中的key,随机 不用这个前缀方式了L3${(this.curdir||'').length>1?'/'+this.curdir:''}/
                        fd.append('x:originname', file.name)//文件原有名称 x是自定义oss回调变量
                        fd.append('x:dest', `${dest}`)//所属的文件目标桶类型
                        fd.append('x:seriesrespath', `${ this.curdir }`)
                        fd.append('x:church', `${ this.church }`)
                        fd.append('file', file)
                        option = {
                            'host':host,
                            'form':fd,
                            'uploader':params
                        }
                        return store.dispatch('upload2oss',option)
                    } 
                },
                delimiters: ["[[","]]"]
            });
        </script>
 
    </body>
</html>
