{% load admin_list %}
{% load i18n %}
{% load simpletags %}
<div id="pagination" class="daniel">
<!--    {{ cl.page_num }}-->
    {% if pagination_required %}
        <el-pagination
            background
            layout="prev, pager, next"
            :total="{{ cl.result_count }}"
            @current-change="handleCurrentChange"
            :current-page="{{ cl.page_num|add:1 }}"
        >
        </el-pagination>
    {% endif %}
</div>
<script type="application/javascript">
    $(function () {
        window.pageVue = new Vue({
            el: "#pagination",
            data: {},
            methods: {
                handleCurrentChange: function (page) {
                    document.querySelector("#changelist-search input[name='p']").value = page - 1
                    document.querySelector("#changelist-search").submit();
                },
            }
        })
    });
</script>

