<html>
<head>
<style>
.sermoninfo{
    width:100%;
    margin:0;
}
.sermoninfo p ,.sermoninfo img, .sermoninfo video{
    max-width:100%;
    width:100% !important;
}
.fixtop{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000!important;
    
}
playsinline="" webkit-playsinline="" x5-playsinline="" 
</style>

</head>
<body>
{% if sermoninfo %}
    <div class="sermoninfo">
    {{ sermoninfo|safe }}
    </div>
{% else %}
    <p>No sermon now.</p>
{% endif %}
</body>
<script>
document.getElementsByTagName('video')[0].classList.add('fixtop')
document.getElementsByTagName('video')[0].setAttribute('playsinline','playsinline')
document.getElementsByTagName('video')[0].setAttribute('webkit-playsinline','webkit-playsinline')
document.getElementsByTagName('video')[0].setAttribute('playsinline','playsinline')
document.getElementsByTagName('video')[0].setAttribute('x5-playsinline','x5-playsinline')

</script>
</html>