{% load i18n static %}
{% load cust_filters %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="{% static 'blog/images/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="{% static 'church/css/video-js.css' %}">

{% comment %} <link rel="stylesheet" href="{% static 'church/css/mintui.css' %}">
<script type="text/javascript" src="{% static "church/js/mintui_index.js" %}"></script> {% endcomment %}

<link rel="stylesheet" href="{% static 'church/css/swiper.min.css' %}">
<script type="text/javascript" src="{% static "church/js/swiper.min.js" %}"></script>
<script type="text/javascript" src="{% static "church/js/vue.js" %}"></script>
<link rel="stylesheet" href="{% static "admin/simpleui-x/elementui/theme-chalk/index.css" %}" type="text/css" />
<script type="text/javascript" src="{% static "admin/simpleui-x/elementui/index.js" %}"></script>
<style>
   body{
       margin:0px;
   }
</style>
</head>
<body class ="wechatpromt">
    <div style="position:relative;height:calc(100/16*9vw)">
    {% if vcomp %}
    <!--CAROUSEL = 1 SLIDE = 2 LIST = 3 TEXT = 4 {{ vcomp }} --> 
        {% if vcomp.control == 1 %} <!-- CAROUSEL = 1 SLIDE = 2 LIST = 3 TEXT = 4-->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for parts in vcomp.vparts %}
                        <div class="swiper-slide banner-item"  style="background-image: url('{{ parts.cover }}');background-size: cover;">
                            <div style="position: absolute;bottom: 0;width: 100%;height: 48px;background: #0a150a1a;color: #fff;padding: 0 0 15px 5px;">
                                <h3 class="cap-image-ad__title">{{ parts.title }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                
                <!-- 如果需要导航按钮 -->
                {% comment %} <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> {% endcomment %}
                
                <!-- 如果需要滚动条 -->
                <div class="swiper-scrollbar"></div>
            </div>
        {% endif %}
        {% if vcomp.control == 2 %} <!-- CAROUSEL = 1 SLIDE = 2 LIST = 3 TEXT = 4-->
        {% endif %}
        {% if vcomp.control == 3 %} <!-- CAROUSEL = 1 SLIDE = 2 LIST = 3 TEXT = 4-->
        {% endif %}
        {% if vcomp.control == 4 %} <!-- CAROUSEL = 1 SLIDE = 2 LIST = 3 TEXT = 4-->
        {% endif %}
    {% else %}
        <div>
            no page data
        </div>
    {% endif %}
    </div>
</body>
<script>

{% comment %} new Vue({
    el: '#V_el',
    data: {
        theme: '',
        selected:'1',
        activeName:'curlorday'
    },
    created: function () {
    },
    methods:{
        handleClick:function(){
            console.log(1)
        }
    }
}) {% endcomment %}

var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal', // 垂直切换选项vertical
    loop: true, // 循环模式选项
    
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
    
    // 如果需要前进后退按钮
    /*navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },*/
    
    // 如果需要滚动条
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  })

</script>
</html>