<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Inline editing enabled by code</title>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/admin/simpleui-x/elementui/theme-chalk/index.css" type="text/css">
    <link rel="stylesheet" href="/static/church/css/mintui.css" type="text/css">
    <script type="text/javascript" src="/static/church/js/vue.js"></script>
    <script type="text/javascript" src="/static/church/js/vuex.js"></script>
    <script type="text/javascript" src="/static/admin/simpleui-x/elementui/index.js"></script>
    <script type="text/javascript" src="/static/church/js/mintui_index.js"></script>
    <script type="text/javascript" src="/static/church/js/es6-promise.auto.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script><style>.cke{visibility:hidden;}</style>
    <script type="text/javascript" src="/static/church/js/store.js"></script>
    <script type="text/javascript" src="/static/church/js/comp.js"></script>

    <style>
        #app{
            height: 100vh;
        }
        .complist{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .comp{
            height: 180px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #77686857;
            margin: 10px;
            color:red;
            font-size:50px;
            font-weight:700px;
        }
        .block{
            position: relative;
        }
        .workplace{
            display: flex;
            justify-content: space-around;
            height: 100vh;
        }
        .col{
            margin-left:20px;
        }
        
        /*{
            width: 400px;
            outline: solid yellow;
        }*/
        .comp_wrap.active{
            position:relative;
            outline:solid yellow;
            outline: solid red;
            z-index: 9;
        }
        .part_template{

        }
        .setting_col div{
            margin-top:40px;
        }

    </style>
</head>

<body>
    <script>
    function allowDrop(ev){
        ev.preventDefault();
    }

    function drag(ev){
        ev.dataTransfer.setData("comp_id",ev.target.id);
    }

    function drop(ev){
        ev.preventDefault();
        var comp_id=ev.dataTransfer.getData("comp_id");   
        ori = document.getElementById(comp_id)
        dgee = ori.cloneNode();
        //console.log('drop-----------')
        //dgee.id = ori.id +'_draged'
        theV.initComp(comp_id)
    }
    function carousel(){
        return `<el-carousel height="150px">
                    <el-carousel-item v-for="item in 4" :key="item">
                        <h3>{{ item }}</h3>
                    </el-carousel-item>
                </el-carousel>`
    }
    
    </script>
    <!--
        Banner 应该是希望自由的加图和链接
        横滑 应该也是加图和链接
        列表应该是自选的知识内容

        实现步骤：
        1 组件的呈现和删除
        2 数据源添加
        3 保存发布
        
    -->

    <div id="app">
        <section style="background: rgba(128, 128, 128, 0.39);text-align: right;padding: 10px 15;" >
            <el-button type="primary" @click="deleteCurComp">删除当前组件</el-button>
            <el-button type="primary" @click="deleteCurComp">保存</el-button>
            <el-button type="primary" @click="deleteCurComp">预览</el-button>
        </section>
        <section class="el-container workplace">
            <aside class="el-aside complist col" style="max-width: 300px;min-width:300px">
                <div id='dg_carousel'  class='comp' draggable=true ondragstart="drag(event)" style='background-image: url("/static/church/img/carousel.png");background-size: contain;background-repeat: no-repeat;    background-position: center;'>
                Banner
                    
                </div>
                <div id='dg_slide'  class='comp' draggable=true ondragstart="drag(event)" style='background-image: url("/static/church/img/slide.png");background-size: contain;background-repeat: no-repeat;    background-position: center;'>slide</div>
                <div id='dg_list'  class='comp' draggable=true ondragstart="drag(event)" style='background-image: url("/static/church/img/list.png");background-size: contain;background-repeat: no-repeat;    background-position: center;'>list</div>
                <div id='dg_text'  class='comp' draggable=true ondragstart="drag(event)" style='background-image: url("/static/church/img/list.png");background-size: contain;background-repeat: no-repeat;    background-position: center;'>Text</div>
            </aside>
            <main class="el-main col" style="max-width: 440px;" ondrop="drop(event)" ondragover="allowDrop(event)" ref="editcolumn" >
                
            </main>
            <aside class="el-aside setting_col" style="max-width: 300px;;min-width:300px" >
                <div class='part_template'>
                    <el-radio-group v-model="rb_template">
                        <el-radio-button label="carousel"></el-radio-button>
                        <el-radio-button label="slide"></el-radio-button>
                        <el-radio-button label="list"></el-radio-button>
                    </el-radio-group>
                </div>
                <div class="part_source">
                    <media-select ref="mediaSelect1">xxx</media-select>
                </div>
                <div class="part_attribute"></div>                
            </aside>
        </section>
        
            <el-button @click="visible = true">按钮</el-button>
            <el-dialog :visible.sync="visible" title="Hello world">
                <p>欢迎使用 Element</p>
            </el-dialog>
    </div>


</body>
 
  <script>



    theV = new Vue({
        el: '#app',
        components:{
            'media-select':mediaSele,
        },
        data: function() {
            return { 
                visible: false,
                data1: [{label: '一级 1',}, {label: '一级 2',}, {label: '二级 2-2',}, {label: '一级 3',}, {label: '二级 3-2',}],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                rb_template:'',
            }
        },
        store,
        methods: {
            deleteCurComp(){
                dd = document.getElementsByClassName('comp_wrap active')
                dd[0].parentElement.removeChild(dd[0])
            },
            handleNodeClick(data) {
                console.log(data);
            },
            handleCompClick(e){
                console.log(e)
            },
            addCarousel(createElement){
                return Array.apply(null, { length: 1 }).map(function (v,i) {
                    return createElement(
                        'el-carousel',
                        {
                            style: {
                                width:'400px',
                            },
                            attrs:{
                                height: '225px',
                            },
                        },
                        Array.apply(null, { length: 3 }).map(function (v,i) {
                            return createElement('el-carousel-item', 
                                {
                                    key:'key' + i,
                                    attrs:{
                                    }
                                    
                                },
                                [
                                    createElement('div',
                                        { 
                                            attrs: {
                                            },
                                            style: {
                                                height: '100%',
                                                width:'100%',
                                                'background-image': "url('https://api.bicf.org/mediabase/citychurch/default/88b8a112-a24e-2a0d-a2a2-a1d1fdc288bf')",
                                                backgroundSize: 'contain',
                                                display: 'flex',
                                                justifyContent: 'center',
                                            },
                                        },
                                        [createElement('h3',{},'xxx')]
                                    ),
                                ]
                            )
                        })
                    ) 
                })
            },
            addWrap (comp_id) {
                console.log(`------------addWrap---------${comp_id}----`)
                vm = this
                // 创建组件逻辑
                let comp = Vue.extend({
                    // 向界面渲染的dom方法。
                    render (createElement) {
                        return createElement(
                            'div',
                            {
                                style: {
                                    width:'400px',
                                },
                                attrs:{
                                    height: '225px',
                                    id:`${comp_id}_draged`,
                                    class:'comp_wrap'
                                },
                                on: {
                                    'click':this.onWrapClick
                                },
                            },
                            vm.addCarousel(createElement)
                        )
                    },
                    methods: {
                        onCloseClick () {
                            // 移除dom
                            //this.$el.remove();
                            // 然后将删除标签事件暴露除去
                            //this.$emit("delete", this.text);
                        },
                        onWrapClick(e){
                            console.log('---------------------------')
                            //当用点击时，outline高亮，并显示删除键
                            comp_wraps = document.getElementsByClassName('comp_wrap')
                            for(var i = 0; i < comp_wraps.length-1; i++){
                                if(this.$el != comp_wraps[i]){
                                    console.log(comp_wraps[i].classList)
                                    comp_wraps[i].classList.remove('active')
                                    comp_wraps[i].style.zIndex='0'
                                    console.log(comp_wraps[i].classList)
                                }
                            }
                            if (this.$el.classList.contains('active')){
                                this.$el.classList.remove('active')
                                this.$el.style.zIndex='0'
                            }else{
                                this.$el.classList.add('active')
                                this.$el.style.zIndex='9'
                            }
                            console.log(this.$el)
                            console.log(e)
                        },
                    },
                    data () {
                        return {
                            text: '', // 为这个tag标签使用的文字是传入的标签文字内容
                        }
                    }
                });
                return new comp();
            },
            initComp (comp_id) {
                let comp = this.addWrap(comp_id);
                // 添加删除监听
                // 挂载组件，即创建虚拟dom。
                comp.$mount();
                // 将组件添加到显示tag的div里面
                this.$refs.editcolumn.appendChild(comp.$el);
            },
            updateCompSource(){

            },
            setRo(o){
                console.log(o)
            }
        },
    })

    var formVue = theV
  </script>
 

  <script>
    // The inline editor should be enabled on an element with "contenteditable" attribute set to "true".
    // Otherwise CKEditor will start in read-only mode.
    //var introduction = document.getElementById('introduction');
    //introduction.setAttribute('contenteditable', true); 

 
  </script>

</body>

</html>